Source: pendu-peda
Section: education
Version: 1.0.3
Priority: optional
Maintainer: Cyrille Biot <cyrille@cbiot.fr>
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/CyrilleBiot/pendu-peda

Package: pendu-peda
Version: 1.0.3
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-tk
Homepage: https://github.com/CyrilleBiot/pendu-peda
Description: Hangman game with as themes the learning areas of cycles 2 and 3 of primary school. Pendu-peda does not take any options. Thematic files can be incremented in the directory : usr/share/application/pendu-peda/data-files/
